<div class="container">
    <div class="row">
        <br>
        <br>

        <div class="col-12 text-center burger-header">
            <h1>Burgers!</h1>
            <h5>
                <em>Log Your Burger Intake!</em>
            </h5>
            <br>
            <hr>
        </div>

    </div>
    <div class="row burger-controls">
        
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 text-center">
            <h2>Add New Burger:</h2>
            <form class="create-form">

                <div class="form-group">
                    <label for="bu">Enter Burger Name:</label>
                    <input type="text" id="bu" name="name">
                </div>
                <br>
                <button type="submit" class="btn btn-warning"><i class="fas fa-plus"></i>&nbspAdd</button>

            </form>
        </div>
        
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
            <h2 class="text-center">Burger Wish List:</h2>

            <ul>
                {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block eat=true}} {{/unless}} {{/each}}
            </ul>
        </div>
        <hr>
        
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
            <h2 class="text-center">Nom Nomm'd:</h2>

            <ul>
                {{#each burgers}} 
                {{#if devoured}}  
               
                {{> burgers/burger-block eat=false}} 
                   
                {{/if}} 
                {{/each}}
            </ul>
        </div>
    </div>
    <hr>
    <footer class="text-center pt-2">
        Copyright
        <i class="far fa-copyright" aria-hidden="true"></i> 2019 by
        <a href="https://www.linkedin.com/in/ashmohney/" target="_blank">Ash Mohney</a>, all rights reserved. Background image by Joshua Kantarges via Unsplash.
    </footer>
</div>